[otvet.dbf]


[Logon]

;  опции доступа к БД
database = DOXOD_LS_5
username = ???
password = ???


[path_list]

;  ВАЖНО!! Соблюдайте последовательность нумерации
;  Отсчет начинается с 0 (нуля)
item0 = ???
item1 = ???


[Service]

;  полный имя файла протокола работы сервиса
LogFileName = c:\KpsTpo.Log

;  период сканирования каталогов в минутах
;  Если задано десятичное число, то результат будет высчитываться от 60 секунд
;  например при ScanPeriod = 0.1 интервал будет 6 секунд (60 * 0.1)
ScanPeriod  = 1

;  0 - Авто (сначало посик файлов внутреннего формата, затем внешний формат)
;  1 - Внутренний формат файлов ТПО
;  2 - Внешний формат файлов ТПО
FileFormat  = 1

;  Максимальный размер лог-файла в Мб после которого выполняется процедура сжатия лог файла
;  допустимо использовать десятичные числа
MaxLogSizeMB = 2

;  Число строк которые записываются из старого лог-файла
;  ДопустИм ввод только натуральных чисел
LogLineCount = 30

; лог-файл доступа к файлам
; по умолчанию AccessLog.txt
AccessLog_FileName = AccessLog.txt
